
#content {
    width: 100%;
}

.con {
    width: 100%;
    transition: 1s all;
    min-width: 320px;
    margin-top: 60px;
    overflow: hidden;
}

.shlogo {
    position: relative;
    margin: auto auto;
    /*background: url(https://static.apkdv.com/image/icon.svg) no-repeat center;*/
}

.shlogo div{
    margin: 0 auto;
    align-self: center;
}

.con .sou {
    max-width: 680px;
    position: relative;
    width: calc(100% - 60px);
    min-width: 320px;
    margin: 0 auto;
}

.con .sou form {
    width: 100%;
    /*border: 1px solid #ddd;*/
    height: 50px;
    display: block;
    margin: 10px auto 30px;
    position: relative;
}

.con .sou form .wd {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 25px;
    line-height: 100%;
    font-size: 18px;
    text-indent: 50px;
    transition: 0.3s all;
}

.con .sou form .lg {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 13px;
    top: 10px;
    /* background: url(icon/lg.svg) no-repeat center/cover;*/
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}


.con .sou form .wd:focus {
    background: #fff;
    box-shadow: 0 0px 15px 0 rgba(32, 33, 36, 0.2);
    border-color: #fff
}

.con .sou form img {
    width: 35px;
    height: 36px;
    display: block;
    padding: 5px;
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 6px;
    cursor: pointer;
    font-size: 22px;
    line-height: 40px;
    border-radius: 50%;
    color: #777;
}

.con .sou #word {
    width: calc(100% - 70px);
    /*border: 15px solid #ffffff;*/
    border-radius: 10px;
    left: 20px;
    position: absolute;
    z-index: 500;
    top: 52.5px;
    /*background: #f1f1f1;*/
    background: #ffffff;
    line-height: 30px;
    font-style: 16px;
    overflow: hidden;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.con .sou #word li {
    cursor: pointer;
    color: #555555;
    padding: 0 20px 0 14px;
}

.con .sou #word li:hover {
    background: #EEEEEE;
}

.foot {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.home {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 10px;
    z-index: 200;
    cursor: pointer;
}

.home a {
    font-size: 20px;
    color: #999;
    line-height: 50px;
    display: block;
    text-align: center;
}


.list {
    width: 80%;
    z-index: 20;
    transition: 0.3s all linear;
    display: grid;
    margin: auto auto 160px auto !important;
    grid-template-columns: repeat(3, 25%);
    grid-column-gap: 5%;
}

.web_item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    list-style: none;
}

.web_item:last-child {

}

.list ul li {
    float: left;
    margin: 5px;
    width: 100px;
    height: 30px;
    text-align: left;
    line-height: 35px;
    list-style: none;
    flex-grow: 1;
}

.list ul li a {
    width: 100%;
    border-radius: 5px;
    transition: 0.2s all linear;
    height: 100%;
    display: block;
    color: #fff;
    font-weight: 500;
    background: #2935509c;
    text-align: left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list ul li:hover a {
    color: #fff;
    background-color: #29f;
    background-image: linear-gradient(135deg, rgba(35, 153, 255) 0%, rgba(84, 175, 253) 100%);
    box-shadow: 0 3px 3px rgba(0, 40, 70, .3);
}

.title {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    margin: 40px 0 0 !important;
    text-align: left !important;
    text-indent: 10px !important;
    /*border-bottom: 1px dashed #dedede;*/
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


.mywth {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 100000;
    height: 22px;
}

@media (min-width: 1650px) {
    .list {
        width: 90%;
        z-index: 20;
        transition: 0.3s all linear;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 23%);
        grid-column-gap: 3%;
    }

    .title {
        width: 100% !important;
        margin: 20px 0 0 !important;
        text-align: left !important;
        text-indent: 10px !important;
        /*border-bottom: 1px dashed #dedede;*/
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }

}

@media (max-width: 1650px) {
    .list {
        width: 90%;
        z-index: 20;
        transition: 0.3s all linear;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 26%);
        grid-column-gap: 5%;
    }

    .title {
        margin: 20px 0 0 !important;
    }
}

@media (max-width: 1415px) {
    .list {
        grid-template-columns: repeat(3, 27%);
        grid-column-gap: 2%;
    }
}

@media (max-width: 1365px) {
    .list {
        width: 100%;
        grid-template-columns: repeat(2, 35%);
        grid-column-gap: 5%;
    }
}


@media (max-width: 400px) {
    .list {
        width: 100%;
        display: flex;
        margin: auto auto 160px auto !important;
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    .con {
        top: 0px;
    }

    .con .shlogo {
        width: 320px;
        height: 130px;
        margin: 0 auto;
    }

    .con .sou form .wd:focus {
        background: #f1f1f1;
        box-shadow: none;
        border-color: #ccc
    }

    /*.con .sou form img {*/
    /*    border-radius: 25px;*/
    /*}*/
    .con .sou #word {
        max-height: 150px;
    }

    .list {
        width: 85%;
        display: flex;
        margin: auto auto 160px auto !important;
        flex-direction: column;
    }

    .title {
        width: 100% !important;
        text-align: left !important;
        text-indent: 10px !important;
        /*border-bottom: 1px dashed #dedede;*/
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }


    .con .sou ul li {
        font-size: 12px;
        text-indent: 30px;
    }

    .home,
    #menu {
        top: 5px;
    }

    .mywth {
        color: #777;
        left: 10px;
    }

    .mywth.hidden {
        display: none;
    }

    .hindColor {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #162035;
    }

    .mywth {
        color: #bbb;
    }

    .con .sou form .wd:focus {
        background: #2935509c;
        border: 1px solid #162035;
    }

    .con .sou form .wd {
        border: 1px solid #2935509c;
        color: #bbb;
    }

    .con .sou #word {
        border: 15px solid #2935509c;
        background: #2935509c;
    }

    .con .sou #word .click_work {
        color: #89b;
    }
}